* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling section */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    color: beige;
    padding: 1rem;
}

header > ul {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    list-style: none;
}

/* Main content section, some styles will be changed by javascript */
main {
    min-height: 100vh;
}


/* Footer stylyng */
footer {
    background-color: black;
    color: beige;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}