* {
    margin: 0;
    padding: 0;
}

/* Header styling section */
body > header {
    display: flex;
    position: sticky;
}

body > header > ul {
    display: flex;
    list-style-type: none;
}


#content {
    background-image: url("home-image.jpg");
}